body{
    font-family: Arial;
}

.axis path, .axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;  /* Round any decimal pixels so it'll render nicely */
}

.chart svg {
    font: 10px sans-serif;
    background-color: steelblue;
    text-align: right;
    padding: 3px;
    margin: 1px;
    color: white;
}

.arc text {
  font: 10px sans-serif;
  text-anchor: middle;
}

.arc path {
  stroke: #fff;
}

button {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    background-color: white;
    color: black;
    border: 2px solid #FF748C; /* Green */
    border-radius: 4px;
}

button:hover {
    background-color: #FF748C; /* Green */
    color: white;
}
