<!DOCTYPE html>
<head>
  <title>Timeline</title>
  <link href="../static/css/home.css" rel="stylesheet">
  <script src="http://d3js.org/d3.v3.min.js"
charset="utf-8"></script>
</head>
  <body>
    <h1> Timeline of Mass Shootings</h1>
    <h5> team Blwuberrlee-pancakes </h5>
    <p>
      [summary]
    </p>

    <svg id="svg" style="border:1px solid black;" width="1500" height="700" xmlns="http://www.w3.org/2000/svg">
      <div class="line">
      </div>
    </svg> <br>
    <a href="https://www.kaggle.com/zusmani/us-mass-shootings-last-50-years/data"> Source </a>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="script.js"></script>
  </body>
</html>
