<!DOCTYPE html>
<head>
  <title>Timeline</title>
  <link href="../static/css/home.css" rel="stylesheet">
</head>
<body>
  <h1> Timeline of Mass Shootings</h1>
  <h5> team Blwuberrlee-pancakes </h5>
  <p>
    This is a timeline of mass shootings from the years 1967-2017. <br>
    Clicking on a decade expands the timeline to show individual years. <br>
    Hovering over a certain part of the timeline shows more specific details of the mass shootings.
  </p>

  <button id = "decades">Return to decades view</button>
  <br>
    

  <svg class="chart" width="1500" height="700" xmlns="http://www.w3.org/2000/svg">
  </svg> <br>
  <a href="https://www.kaggle.com/zusmani/us-mass-shootings-last-50-years/data"> Source </a>
  <script src="https://d3js.org/d3.v3.min.js"></script>
  <script src="https://d3js.org/d3.v4.min.js"></script>
  <script src="../static/script.js"></script>
</body>
</html>
